// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button {
  padding: 3px 10px;
  font-size: 25px;
  border-radius: 3px;
  border: 1px solid #e1e4e8;
  background-color: #327AB8;
  color: white;
  height: 50px
}

.field {
  border: 1px solid #ccc;
  width: 28.23em;
  color: #666;
  height: 50px;
}
